{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "indent": [
      "warn",
      2,
      { SwitchCase: 1 }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {"allowTemplateLiterals": true}
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "chrome": true,
    "console": true
  }
}
